body {
    background: url("./../images/loginBackground.jpg") no-repeat fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

a:active, a:focus {
    outline: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.loginBox {
    width: 50vh;
    background-color: white;
    border-radius: 3px;
    padding: 2%;
    padding-top: 1%;
}

.logoContainer {
    text-align: center;
    margin: 2%;
    margin-bottom: 5%;
}

.logo {
    width: 40%;
}

.fadeOut {
    animation: fade-out 1s 1;
    animation-fill-mode: forwards;
}

#cover {
    position: fixed;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    background: white; z-index:10;
    display: flex;
    align-items: center;
    justify-content: center;
}

#background_credit {
    position:absolute;
    bottom:0;
    right:0;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes wave {

    0%,
    60%,
    100% {
        transform: initial;
        background-color: #ED4C67;
    }

    30% {
        transform: translateY(-15px);
        background-color:#6b48ff;
    }
}

@media only screen and (max-width: 767px) {
    body {
        background: none;
        background-color: white;
    }

    .loginBox {
        width: 100vh;
        padding: 0%;
    }

    .logoContainer {
        margin: 0;
    }

    #background_credit {
        display: none !important;
    }
}

@supports (background-image: url(./../images/loginBackground.webp)) {
    body {
        background: url("./../images/loginBackground.webp") no-repeat fixed;
        -webkit-background-size: cover;
        background-size: cover;
    }
}